nav, .page-footer{
    background: #4CAF50;
}
nav .brand-logo, .page-footer h2{
font-weight: bold;
}

.sidenav {
    width: 250px;
}

.page-footer .container .row .col .fa{
    font-size: 3em;
}
.card .card-image .card-title {
    background-color: rgba(0,0,0,.8);
    border-radius: 3%;
}