Options -Indexes
RewriteEngine On
RewriteRule    ^Estudiante/?$    main_student.php [NC,L]
RewriteRule    ^Estudiante/?$    see_profile_student.php [NC,L]
RewriteRule    ^Estudiante/?$    lessons_student.php [NC,L]